<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="paypal" type="PayPal.SDKConfigHandler, PayPal" />
  </configSections>

  <!-- PayPal SDK settings -->
  <paypal>
    <settings>
      <add name="mode" value="sandbox" />
      <add name="clientId" value="AbsIOEIugxo3Gp7NF_se5CAqyflVbuLBGVNBEqxnTIZ7J1BjVyk3Zjj9gtJ0wA9or5pkQAeKd9bgRgHF" />
      <add name="clientSecret" value="EPdYRB321h7cW-oxa6pZ-Eg3qJMZyCDrf7WXJozghP8lpexG0wcwtJAXvunBjFMhsVKOUH6WeqFyAlqk" />
    </settings>
  </paypal>
</configuration>